div#nav-el {
  border: 1px solid #000;
  display: inline-block;
  padding: 5pt;
  margin: 2pt;
}

div#nav-el:hover {
  back-color: #f88;
}

div#source-info-wrapper {
  display: inline-block;
}

div#source-map {
  margin-top: 12pt;
  margin-bottom: 12pt;
}

h1 {
  font-size: 14pt;
  margin-bottom: 2pt;
}

div#config-file {
  font-size: 12pt;
  font-weight: bold;
}

div#branch-info {
  margin-left: 5pt;
}

div#branch-heading {
  font-size: 12pt;
  border-bottom-width: 2pt;
  border-bottom-style: solid;
  border-bottom-color: #bbb;
  margin: 3pt;
  display: inline-block;
}

span#branch-hash {
  font-style: oblique;
  font-size: 8pt;
}

table#pushed {
  margin-bottom: 10pt;
}

div#no-errors-wrapper {
  margin-top: 10pt;
  margin-left: 20pt;
  font-size: 8pt;
  font-style: oblique;
  vertical-align: top;
  display: inline-block;
}

div#errors-wrapper {
  margin-top: 10pt;
  margin-left: 20pt;
  display: inline-block;
  vertical-align: top;
  color: #800;
}
